<div *ngFor='let quote of quotes' class="card text-center">
    <div class="card-header">
        Written by: {{quote.thief}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p style="color: brown">Your Quote:<br>
                <h4 style="font-style: italic; color:cyan">{{quote.quote}}</h4>
                <footer class="blockquote-footer">By <cite title="Source Title">{{quote.author}}</cite></footer>
        </blockquote>


        <i class="fas fa-thumbs-up"></i>


        <i class="fas fa-thumbs-down"></i>

    </div>
    <div class="card-footer text-muted">
        Time:
    </div>

    <div>

        <button type="submit" class="btn btn-danger"> Delete Quote </button>

    </div>
    
</div>
<div class="container">
    <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>